.chart-container {
  position: relative;
  height: 440px;
}

@media screen and (max-width: 1199px) {
  .chart-container {
    height: 360px;
  }
}

@media screen and (max-width: 767px) {
  .chart-container {
    height: 280px;
  }
}
