:host {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.wrapper-container {
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
}

canvas {
  max-width: 100%;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
